.profile-container {
  width: 100%;
  padding: 40px 60px;
  min-height: calc(100vh - 70px);
  background: var(--bg);
  color: var(--text);
}

.page-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  gap: 60px;
  margin-bottom: 5px;
}

.tab {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 8px;
  opacity: 0.7;
}

.tab.active {
  opacity: 1;
  font-weight: 600;
  color: #6c3ad3;
  border-bottom: 2px solid #6c3ad3;
}

.divider {
  border-bottom: 1px solid var(--border);
  margin-bottom: 30px;
}

.profile-content {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.avatar-circle {
  width: 90px;
  height: 90px;
  background: var(--avatar-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  font-size: 32px;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
  font-size: 12px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--input-bg);
  color: var(--text);
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #000;
  border-radius: 30px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.notify-content {
  max-width: 350px;
}

.notify-title {
  margin-bottom: 24px;
  font-size: 14px;
}

.notify-row {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

/* Switch toggle */
.switch input { display: none; }
.slider {
  width: 40px;
  height: 22px;
  background: gray;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}
.slider::after {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}
input:checked + .slider {
  background: #6c3ad3;
}
input:checked + .slider::after {
  transform: translateX(18px);
}

/* THEME VARIABLES */
.light {
  --bg: #fafafa;
  --text: #000;
  --border: #ddd;
  --input-bg: #fff;
  --avatar-bg: #000;
}

.dark {
  --bg: #0e1525;
  --text: #fff;
  --border: #333;
  --input-bg: #1a2333;
  --avatar-bg: #fff;
}
@media (max-width: 600px) {
  .profile-container {
    padding: 30px 20px;
  }

  .tabs {
    gap: 30px;
  }
}